* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --page-bg-color: #221e1e;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--page-bg-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--index) * 0.4);
    padding: 10px;
}

.container .item {
    width: calc(var(--index) * 6);
    height: calc(var(--index) * 6);
    position: relative;
    background: rgba(45,45,45,1);
    overflow: hidden;
    border-radius: 7px;
}

.container .item::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: calc(var(--index) * 12); 
    height: calc(var(--index) * 12);
    background: radial-gradient(var(--clr), transparent, transparent);
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 7px;
    transition: opacity 0.3s, top 0s, left 0s;
}

.container .item:hover::before {
    opacity: 1;
}

.container .item::after {
    content: '';
    position: absolute;
    inset: calc(var(--index) * 0.15);
    background: rgba(45,45,45,0.85);
    border-radius: 7px;
}
